/* CSS for the dock :) */

.text-left{
 text-align: left;
}
.bottom {
 position: fixed;
 bottom: 0;
 padding: 0;
 margin: 0;
}
#dock {
 position: fixed;
 bottom: 0;
 left: 0;
 width: 320px;
 padding: 0;
 margin: 0;
 z-index: 100;
}

#dock img#dock-bg {
 width: 320px;
 position: absolute;
 bottom: 0;
 left: 0;
 overflow: hidden;
}

#home-container {
 position: absolute;
 bottom: 10px;
 left: 5px;
 width: 78px;
 z-index: 1337;
 padding: 0;
 margin: 0;
 text-align: center;
}
#home-img {
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 57px;
 height: 57px;
 Z-index: 1337;
 -webkit-box-shadow: -3px 4px 5px black;
}
#packages-container {
 position: absolute;
 bottom: 10px;
 left: 83px;
 width: 78px;
 z-index: 1337;
 padding: 0;
 margin: 0; 
}
#packages-img {
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 57px;
 height: 57px;
 z-index: 1337;
 -webkit-box-shadow: -3px 4px 5px black;
}
#sections-container {
 position: absolute;
 bottom: 10px;
 left: 161px;
 width: 78px;
 z-index: 1337;
 padding: 0;
 margin: 0;
}
#sections-img {
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 57px;
 height: 57px;
 z-index: 1337;
 -webkit-box-shadow: -3px 4px 5px black;
}
#sources-container {
 position: absolute;
 bottom: 10px;
 right: 5px;
 width: 78px;
 z-index: 1337;
 padding: 0;
 margin: 0;
}
#sources-img {
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 57px;
 height: 57px;
 z-index: 1337;
 -webkit-box-shadow: -3px 4px 5px black;
}

#menu {
 display: none;
 z-index: 100;
 position: fixed;
 top: 5px;
 left: 10px;
 right: 10px;
 bottom: 75px;
 background-color: black;
 color: white;
 -webkit-border-radius: 25px;
 text-align: center;
}