.text-container-left {
 background-color: blue;
 width: 50%;
 text-align: left;
 margin-left: 10px;
}
.text-container-right {
 background-color: white;
 width: 50%;
 text-align: right;
 margin-right: 10px;
 display: inline;
}