/* CSS for the home app icons :) */
h1#home_title {
	margin-top: 0px;
	text-align: center;
}

img.app_icons{
	padding-left: 10%;
	padding-right: 10%;
	width: 80%;
}
div.app_names{
	position: realative;
	top: 5px;
	padding-top: 0;
	text-align: center;
}

/*
$('container').css({'position': 'abolsute', 'left': '500px', 'width': '57px', 'background-color': 'blue'});
	   
       $('div.app_icons').css({'width': '57px', 'height': '57px', 'display': 'inline'});

       $('div.app_names').css({'width': '57px', 'text-decoration': 'none', 'text-align': 'center', 'color': 'white', 'display': 'block'});
*/